.chatbox__message {
  height: fit-content;
  width: fit-content;
  max-width: 70%;
  padding: 0.5em;
  font-size: small;
}

.chatbox__message.user-received {
  background-color: #ffde05;
}

.chatbox__message.user-sent {
  background-color: white;
  align-self: flex-end;
}
